/*photo {*/
/*	@media (max-width: 500px)*/
/*}*/

.photo {

	max-width: 200px;
	max-height: 200px;
}

.logo {
	max-width: 100px;
	max-height: 100px;
}

p {
	color: ghostwhite;
}

section {
	background-color: #790604;
}