
.namebg {
	background: url("./images/1stdivbg.png") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 627px;
}

.aboutbg {
	background: url("./images/cuatesBW.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	/*height: 720px;*/
}

.guadalupebg {
	background: url("./images/guadalupeFull.png") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 600px;
}

.yellowShirt {
	background: url("./images/1to1yellow.png");
	background-size: cover;
	width: 100%;
	height: 680px;
}
.mirror {
	background: rgba(1,1,1,.8);
	width: 100%;
	height: 720px;

	position: fixed;
	top: 0;
	left: 0;
}

.transparentbg {
	background: rgba(211,211, 211, .7);
}

a {
	font-size: large;
	font-family: cursive;
}

h1 {
	font-family: cursive;
	margin-left: 0px;
	margin-bottom: 0px;
	text-align: center;
	-webkit-text-stroke-color: black;
	-webkit-text-stroke-width: 1px;
	color: black;
}

h2 {
	font-family: cursive;
	margin-left: 20px;
	margin-bottom: 0px;
	text-align: left;
	-webkit-text-stroke-color: black;
	-webkit-text-stroke-width: 1px;
	color: black;
}

h3 {
	text-align: left;
	font-family: cursive;
	padding-bottom: 5px;
	text-align-all: center;
	color: black;
	font-size: 32px;
	font-stretch: expanded;
	font-weight: bold;
	text-decoration-width: auto;
}


h3:hover {
	color: yellow;
}

p {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	text-align-all: center;
	color: black;
	font-family: cursive;
	font-size: 20px;
	font-weight: bold;
	text-align: justify;
	text-decoration-width: auto;
}

.pics {
	url("./images/yellowOriginal.png");
	width: 100%;
}