body{
	background-color: lightyellow;
}

h1{ text-align: left;
	color: black;
}

h2{ text-align: left;
	color: black;
}

p{ text-align: left;
	color: black;
}

.center {
	display: flex;
	justify-content: center;
}

